html {
  background-color: #FFFF;
  min-width: 400px;
}
body {
  font-family: Garamond, serif;
}
h1 {
	font-family: Helvetica, sans-serif;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	background-color:#2B6AD0;
	color:ivory;
}
h2 {
	font-family: Helvetica, sans-serif;
	color:#1F4591;
}
div.odd{
background-color:#F5F5F5;
padding: 1px 5px 1px 5px;
}
div.even{
background-color:#FFFFFF;
padding: 0px 5px;
}
div.centerOptions{
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    text-align:left;
}
a{ 
text-decoration:none;
}
img {
  width: 668px;
  height: 291px;
}
#signature {
  text-align: right;
  font-size: 75%;
}