html {
  background-color: #FFFF;
}
body {
  font-family: Garamond, serif;
}
h1 {
	font-family: Helvetica, sans-serif;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	background-color:salmon;
	color:ivory;
}
h2 {
	font-family: Helvetica, sans-serif;
	color: misty blue;
}
.odd{
background-color:#F5F5F5;
padding: 1px 5px 1px 5px;
}
.even{
background-color:#FFFFFF;
padding: 0px 5px;
}
a{ 
text-decoration:none;
}
img {
  width: 668px;
  height: 291px;
}