/* This style sheet includes elements taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #282828;
  background-color: #282828;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  color: #282828;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  color: #282828;
}



/* Style the tab content */
.tabcontent {
  background: rgba(241,241,241,0.8);
  color: rgb(0,0,0);
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

.tabcontent button1 {
    background-color: #f44336;
    color: white;
    border-radius: 8px;
	cursor: pointer;
}
.tabcontent button1:hover {
  	background-color: white;
  	color: #f44336;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* General layout */
html {
  /*background-color: #FFFF;*/
    
  background-image: url('produce.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-width: 400px;
}
body {

  font-family: Arial, sans-serif;
}

/* headers */
h1 {
	font-family: Times New Roman, serif;
	color: #FF6700;
	text-shadow: 2px 2px 5px white;
	font-size:300%;
}
h3 {
	font-family: Times New Roman, serif;
	margin: 0;
	padding: 10px 0;

}

/* signature */
#signature {
  text-align: right;
  font-size: 75%;
  color:white;
}